@model IEnumerable<Topicality.Domain.Entities.CategoryDocument>

<div class="card">
    <div class="card-body">
        <div class="card-title">Documents for Category</div>
        <p>
            <a asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary">Create New Document</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Document Title</th>
                <th>Filename</th>
                <th>Description</th>
                <th>Uuid</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var document in Model)
            {
                <tr>
                    <td>@document.Id</td>
                    <td>@document.DocumentMetadata?.Title</td>
                    <td>@document.DocumentMetadata?.Filename</td>
                    <td>@document.DocumentMetadata?.Description</td>
                    <td>@document.Uuid</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>